/* you can add any styles you think could improve user's experience */
.catalog, .productAdded{
  display: inline-block;
  margin: 1vh;
  border: 0.1vh solid greenyellow;
  padding: 1vh;
  border-radius: 0.5vh;
}
.catalog:hover{
  background-color: rgb(223, 253, 170);
}
.sendToCart{
  cursor: pointer;
}

.jojo{
  display: none;
}